/* write your css here */

html,body{
    overflow-x: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.homepage-bg{
    background-image: url('./assets/Images/bghome.svg');
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-tabs {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

